<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-rest:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-rest-0.0.1-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-rest" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.codehaus.jackson:jackson-mapper-asl:1.9.13" />
          <element id="library" level="project" name="Maven: org.codehaus.jackson:jackson-core-asl:1.9.13" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.6.0" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-log4j12:1.6.0" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-validator:5.2.4.Final" />
          <element id="library" level="project" name="Maven: org.jboss.logging:jboss-logging:3.2.1.Final" />
          <element id="library" level="project" name="Maven: com.fasterxml:classmate:1.1.0" />
          <element id="library" level="project" name="Maven: xml-apis:xml-apis:1.4.01" />
          <element id="library" level="project" name="Maven: javax.validation:validation-api:1.1.0.Final" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:3.0-alpha-1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjrt:1.6.12" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.6.12" />
          <element id="library" level="project" name="Maven: cglib:cglib:2.2" />
          <element id="library" level="project" name="Maven: asm:asm:3.1" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-commons-core:1.4.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-entitymanager:4.3.5.Final" />
          <element id="library" level="project" name="Maven: org.jboss.logging:jboss-logging-annotations:1.2.0.Beta1" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-core:4.3.5.Final" />
          <element id="library" level="project" name="Maven: antlr:antlr:2.7.7" />
          <element id="library" level="project" name="Maven: org.jboss:jandex:1.1.0.Final" />
          <element id="library" level="project" name="Maven: dom4j:dom4j:1.6.1" />
          <element id="library" level="project" name="Maven: org.hibernate.common:hibernate-commons-annotations:4.0.4.Final" />
          <element id="library" level="project" name="Maven: org.hibernate.javax.persistence:hibernate-jpa-2.1-api:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.jboss.spec.javax.transaction:jboss-transaction-api_1.2_spec:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.javassist:javassist:3.18.1-GA" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: org.springframework:spring-orm:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: com.complexible.common:cp-common-utils:5.0.3" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.watchdog.http:stardog-watchdog-protocols-http-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.watchdog.protocols:stardog-watchdog-protocols-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.watchdog:stardog-watchdog-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.watchdog:stardog-watchdog-api:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.virtual.http:stardog-virtual-protocols-http-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.virtual.http:stardog-virtual-protocols-http-shared:4.2.1" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-iostreams:2.4" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-api:2.4" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.protocols.http:stardog-protocols-http-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.google.code.gson:gson:2.2.2" />
          <element id="library" level="project" name="Maven: com.complexible.stardog:stardog-api:4.2.1" />
          <element id="library" level="project" name="Maven: commons-pool:commons-pool:1.6" />
          <element id="library" level="project" name="Maven: com.complexible.common.protocols.api:stardog-protocols-api-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.google.inject:guice:4.0" />
          <element id="library" level="project" name="Maven: javax.inject:javax.inject:1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.protocols.http:stardog-protocols-http-shared:4.2.1" />
          <element id="library" level="project" name="Maven: org.json:json:20090211" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpclient:4.4" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpcore:4.4" />
          <element id="library" level="project" name="Maven: commons-codec:commons-codec:1.9" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpmime:4.4" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.utils:stardog-utils-rdf:4.2.1" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-languages:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-model:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-util:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-queryresultio-sparqljson:4.0.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.6.2" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-n3:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-query:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-api:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-queryresultio-binary:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-binary:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-queryresultio-text:4.0.0" />
          <element id="library" level="project" name="Maven: com.opencsv:opencsv:3.2" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-rdfjson:4.0.0" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.4" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-trix:4.0.0" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.utils:stardog-utils-openrdf:4.2.1" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-compress:1.6" />
          <element id="library" level="project" name="Maven: org.tukaani:xz:1.4" />
          <element id="library" level="project" name="Maven: xerces:xercesImpl:2.11.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-datatypes:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-queryresultio-sparqlxml:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-jsonld:4.0.0" />
          <element id="library" level="project" name="Maven: com.github.jsonld-java:jsonld-java:0.7.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.3.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.3.0" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpclient-osgi:4.4" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:fluent-hc:4.4" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-ntriples:4.0.0" />
          <element id="library" level="project" name="Maven: com.carrotsearch:hppc:0.7.1" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-trig:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-queryresultio-api:4.0.0" />
          <element id="library" level="project" name="Maven: com.brsanthu:data-exporter:1.0.4" />
          <element id="library" level="project" name="Maven: commons-beanutils:commons-beanutils:1.8.3" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-lang3:3.1" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-nquads:4.0.0" />
          <element id="library" level="project" name="Maven: com.complexible.common:cp-openrdf-utils:4.0.1" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-turtle:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-rio-rdfxml:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpclient-cache:4.4" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.core:stardog-core-shared:4.2.1" />
          <element id="library" level="project" name="Maven: org.quartz-scheduler:quartz:2.1.3" />
          <element id="library" level="project" name="Maven: javax.activation:activation:1.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.protocols.spec:stardog-protocols-spec-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.common.protocols.api:stardog-protocols-api-shared:4.2.1" />
          <element id="library" level="project" name="Maven: io.netty:netty-all:4.0.32.Final" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.protocols.spec:stardog-protocols-spec-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.icv.http:stardog-icv-protocols-http-client:4.2.1" />
          <element id="library" level="project" name="Maven: javax.mail:mailapi:1.4.3" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.icv:stardog-icv-api:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.icv:stardog-icv-api_snarl:4.2.1" />
          <element id="library" level="project" name="Maven: com.google.guava:guava:18.0" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.search.http:stardog-search-protocols-http-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.search:stardog-search-api:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.versioning.http:stardog-versioning-protocols-http-client:4.2.1" />
          <element id="library" level="project" name="Maven: net.sf.opencsv:opencsv:2.3" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.versioning:stardog-versioning-api:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.versioning:stardog-versioning-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.prov:stardog-prov:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.icv:stardog-icv-core:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.icv:stardog-icv-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.reasoning:stardog-reasoning-core:4.2.1" />
          <element id="library" level="project" name="Maven: org.semanticweb.elk:elk-reasoner:0.4.2" />
          <element id="library" level="project" name="Maven: org.semanticweb.elk:elk-owl-model:0.4.2" />
          <element id="library" level="project" name="Maven: org.semanticweb.elk:elk-owl-implementation:0.4.2" />
          <element id="library" level="project" name="Maven: org.semanticweb.elk:elk-util-collections:0.4.2" />
          <element id="library" level="project" name="Maven: org.semanticweb.elk:elk-util-concurrent:0.4.2" />
          <element id="library" level="project" name="Maven: org.semanticweb.elk:elk-util-hashing:0.4.2" />
          <element id="library" level="project" name="Maven: org.semanticweb.elk:elk-util-logging:0.4.2" />
          <element id="library" level="project" name="Maven: org.semanticweb.elk:elk-util-common:0.4.2" />
          <element id="library" level="project" name="Maven: org.semanticweb.elk:elk-util-io:0.4.2" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-queryrender:4.0.0" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.core:stardog:4.2.1" />
          <element id="library" level="project" name="Maven: com.google.inject.extensions:guice-throwingproviders:4.0" />
          <element id="library" level="project" name="Maven: com.complexible.common.protocols.api:stardog-protocols-api-server:4.2.1" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-core:1.2.3" />
          <element id="library" level="project" name="Maven: org.apache.lucene:lucene-core:5.3.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.security:stardog-core-security:4.2.1" />
          <element id="library" level="project" name="Maven: org.mindrot:jbcrypt:0.3.1" />
          <element id="library" level="project" name="Maven: de.schlichtherle.truelicense:truelicense-core:1.33" />
          <element id="library" level="project" name="Maven: de.schlichtherle.truelicense:truelicense-xml:1.33" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-core:2.4" />
          <element id="library" level="project" name="Maven: com.complexible.license:license-core:3.0.7" />
          <element id="library" level="project" name="Maven: commons-lang:commons-lang:2.6" />
          <element id="library" level="project" name="Maven: commons-math:commons-math:1.2" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.protocols.spec.versioning:stardog-versioning-protocols-spec-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.reasoning.http:stardog-reasoning-protocols-http-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.reasoning:stardog-reasoning-shared:4.2.1" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-queryalgebra-model:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-queryparser-sparql:4.0.0" />
          <element id="library" level="project" name="Maven: org.openrdf.sesame:sesame-queryparser-api:4.0.0" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.reasoning:stardog-reasoning-api:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.reasoning.protocol:stardog-reasoning-protocols-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.stardocs.http:stardog-stardocs-protocols-http-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.utils:stardog-utils-common:4.2.1" />
          <element id="library" level="project" name="Maven: com.google.inject.extensions:guice-multibindings:4.0" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.stardocs.http:stardog-stardocs-protocols-http-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.stardocs:stardog-stardocs-api:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.stardocs:stardog-stardocs-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.reasoning.snarl:stardog-reasoning-protocols-snarl-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.reasoning.snarl:stardog-reasoning-protocols-snarl-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.icv.snarl:stardog-icv-protocols-snarl-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.icv.snarl:stardog-icv-protocols-snarl-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.icv.protocols:stardog-icv-protocols-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.search.snarl:stardog-search-protocols-snarl-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.versioning.snarl:stardog-versioning-protocols-snarl-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.versioning.protocols:stardog-versioning-protocols-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.versioning.protocols.snarl:stardog-versioning-protocols-snarl-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.virtual.snarl:stardog-virtual-protocols-snarl-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.virtual.snarl:stardog-virtual-protocols-snarl-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.virtual:stardog-virtual-api:4.2.1" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-csv:1.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.virtual.protocols:stardog-virtual-protocols-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.protocols.snarl:stardog-protocols-snarl-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.protocols.snarl:stardog-protocols-snarl-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.bigpacket:stardog-protocols-barc-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.common:cp-common-protobuf:1.2" />
          <element id="library" level="project" name="Maven: com.google.inject.extensions:guice-assistedinject:4.0" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:2.5.0" />
          <element id="library" level="project" name="Maven: com.complexible.bigpacket:stardog-protocols-barc-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.watchdog.snarl:stardog-watchdog-protocols-snarl-client:4.2.1" />
          <element id="library" level="project" name="Maven: com.complexible.stardog.watchdog.snarl:stardog-watchdog-protocols-snarl-shared:4.2.1" />
          <element id="library" level="project" name="Maven: com.local:localjar:1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/spring-rest-0.0.1-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-rest/web/Web" />
    </root>
  </artifact>
</component>